# AI Service Environment Variables
PORT=8000

# Akan diisi setelah model training selesai
MODEL_PATH=app/models/health_score_v1.keras

# Untuk chatbot (isi setelah dapat API key)
ANTHROPIC_API_KEY=your_api_key_here